
<!DOCTYPE html>
	<html>
	
	
		<head>
	 		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   			 <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    		<link rel="stylesheet" type="text/css" href="../../../stylesheets/stylesheet.css" media="screen">
    		<link rel="stylesheet" type="text/css" href="../../../stylesheets/pygment_trac.css" media="screen">
    		<link rel="stylesheet" type="text/css" href="../../../stylesheets/print.css" media="print">	    		    
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<!--<link rel="stylesheet" type="text/css" href="../../../stylesheets/stylesheet.css">-->
			
		</head>
		<body>
			<nav>
			<ul>
  				<li><a href="../../../">Home</a></li>
  				<li><a href="../../../exp">Experiences</a></li>
  				<li><a href="../../../publications.html">Publications</a></li>
  				<li><a href="../../../proj">Projects</li>
  				<li><a href="../../../blog">Blog</a></li>
			</ul>
			</nav>
			<div id="content-wrapper">
      			<div class="inner clearfix">
			      <section id="main-content">
				      {{ content }}
			      </section>
				</div>
			</div>
			<!-- /.container -->
			<footer>
			<nav>
			<ul>
				<li><a href="mailto:hnwang@ucdavis.edu">email</a></li>
				<li><a href="https://github.com/ellenzinc">github</a></li>
			</ul>
			</nav>
			</footer>
		</body>
	</html>
	
